@keyframes tu{
    from{
        /*动画开始角度*/
        transform: rotate(0deg);
    }
    to {
        /*动画结束时角度*/
        transform: rotate(360deg);
    }
}
@keyframes er {
    0%{
         /*动画刚开始，div的宽高 */
        width: 200px;
        height: 200px;
    }
    50%{
        /* 动画执行一半时，div的宽高 */
        width: 100px;
        height: 400px;
    }
    100% {
        /* 动画执行完毕时，div的宽高 */
        width: 200px;
        height: 200px;
    }
}